:root {
  --color-bg: #222831;
  --color-bg-main: #343d4b;
  --color-light: #fff;
  --color-dark: #000000;
  --color-grey: #3f4958;
  --card-bg: #272e37;
  --card-bg-hover: #3a434f;
  --shadow: 1px 2px 4px 0px #222831;
  --gradient-hor: linear-gradient(
    90.8deg,
    rgba(144, 217, 224, 0.9) 0.2%,
    rgba(84, 96, 230, 0.9) 100%
  );
  --gradient-hor-reverse: linear-gradient(
    256.33deg,
    rgba(144, 217, 224, 0.9) 9.04%,
    rgba(84, 96, 230, 0.9) 92.2%
  );
  --gradient-vert: linear-gradient(
    152.19deg,
    rgba(136, 235, 239, 0.9) -0.04%,
    rgba(83, 91, 230, 0.9) 100%
  );
  --font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-light);
  background-color: var(--color-bg-main);
  font-family: var(--font);
}
